/* ----- CSS RESET ----- */
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}



/*-------------------- openning banner------------------------*/
img.nevillebrody {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position:relative;
  top: 0;
  left: 0;
} 

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.nevillebrody {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/*-------------- navigation -------------*/
nav {   
        width: 100%;
        position: absolute;
        top: 0;
        font-family: "Kaushan Script";
        background-color:whitesmoke;
        font-weight: 500em;
        padding-top:.8em;
        padding-bottom:.8em;
        position: fixed;
        text-align: center;
        z-index: 10;
        opacity: 0.8;
        }

nav ul {
    text-align: center;   
    }
    
    nav ul li {
        display: inline;
        margin: 40px;
        text-align:right;
        font-family: "Kaushan Script";
        }

 li { display: inline;
}

a:link {
        text-decoration: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 90%;
        vertical-align: middle;
}
        

 a:link {
        color: black;
        text-transform: uppercase;
}


a:visited {
        color:black;
        text-transform: uppercase;}


a:hover {
    color:dimgrey;
}


img.icon {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
padding-top: 25em;
} 



/*--------------------*/
/*.intro {font-family: serif;
        font-size: 1.5em;
        }*/
p {font-size: 19px;
    padding: 0 7em 2em 7em;
    letter-spacing: 0.03em;
    color: grey;
    margin-left: 4em;
    margin-right: 4em;

}





.text {width: 100%;
        
            min-height: 320px;
            font-size: 1.1em;
            font-family: 'Kaushan Script', sans-serif; 
            margin:;
            line-height: 1.3em;
		  	text-align: justify;
			padding: 1em;
     }


.h1intro {
font-family: 'Kaushan Script', sans-serif;
font-weight: 400italic;
font-size: 6em;
margin-left: auto;
margin-right: auto;
width: 100%;
margin-top: -0.7em;
padding-top: 3.2em;
position: absolute;
text-align: center;

}

#intro {
padding: 2em 0em 2em 0em;
font-size: 19px;
letter-spacing: 0.03em;
color: grey;

}






        h1, h2, h3 {
            font-weight: normal;
        color:#B12E36;
        text-align: center;
            padding: 0.4em 0 0.4em 0;
        }
        
        h1 {font-size: 3.375em;}
        h2 {font-size: 1.8em;}
        h3 {font-size: 1.5em;}
        
header h2 {
    font-style: italic;
    text-align: center;
    padding: 0.5em 0em 1em 0; 
    line-height: 1em;
    letter-spacing: 0.5px;
    
}

p, li{ padding: 0em 0 1em 0;
    letter-spacing: inherit;
    line-height: 1.7em;

}

.leader {font-style: italic;}

    blockquote {
        padding: 0.2em 0 0.2em 0;
        text-align: center;
        font-size: 1.75em;
        line-height: 1.5em;
        margin: 2.5em
}

    blockquote cite {
    font-size: 0.75em;
        background-color: darkgray;
        opacity: 0.8em;
    }
    
    a:hover {
        text-transform: uppercase;
        font-size: .75em;
    }
    

.hand {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 5px 5px #888888;
    margin-bottom: 5em;
}

.theface {float:right;
       max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
    ;
}

.blur {display: block;
    margin-left: auto;
    margin-right: auto;
padding-bottom: 3em;}


.ch4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    margin-top: auto;
}

.footer {
    line-height: 3em;
    
}
  



.ref {background-color: darkgray;
opacity: 0.6;
    text-align: center;
    font-size: 2em;
    padding: 1em 0 0 0;
    line-height: 3em;
}

/*----------------- social------------*/ 
.social {
    padding-top: .5em;
}

.social a:hover {
  opacity: 0.8;
}
/*--------------------MEDIA QUERIES--------------------*/
        
/*---------- TABLET ----------------*/
@media (max-width: 50em) {
    
   
    
article {
    width: 95%;
    padding: 0.5em;
    } 
    
    img {
    display: block;
    margin: 1em auto;
    padding: 0;
    max-width: 100%;
    }
} 

/*----------- SMARTPHONE ----------- */
 @media (max-width: 30em) {
    
   body {
    margin: auto 0;
    width: 100%;
    font-size: 110%;
    }
    
article {
    width: 75%;
    } 

h1 {font-size: 2.9em;}   

blockquote p{padding: 0;
line-height: 1.5em}  
     
hgroup h2 {font-size: 1.5em;
padding-top: 0.5em}  
     
nav ul li {font-size: .75em;
        margin: 10px}
}







